/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(base.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(xbox-assets/base-white.svgz);
}

.xbox.disconnected {
    background: url(disconnected.png);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 446px;
    height: 121px;
    position: absolute;
    left: 42px;
    top: 110px;
}

.xbox .trigger {
    width: 192px;
    height: 24px;
    background: url(trigger.png);
    opacity: 0;
}

.xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
     position: absolute;
        left: 433px;
}

.xbox .bumper {
    width: 162px;
    height: 20px;
    background: url(bumper.png);
    opacity: 0;
}

.xbox .bumpers {
    position: absolute;
    width: 536px;
    height: 61px;
    left: 70px;
    top: 141px;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;

}

.xbox .bumper.right {
    position: absolute;
        left: 402px;

}

.xbox .quadrant {
    position: absolute;
    background: url(quadrant.png);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
}

.xbox .back, .xbox .start {
    background: url(start-select.png);
    width: 52px;
    height: 52px;
    opacity: 0;
    
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    position: absolute;
    top: 16px;
    left: -59px;
}

.xbox .start {
    background-position: 50px;
    position: absolute;
    top: 16px;
    left: 103px;
}

.xbox .abxy {
    position: absolute;
    width: 294px;
    height: 145px;
    top: 192px;
    left: 488px;
}

.xbox .button {
    position: absolute;
    background: url(abxy.png);
    width: 72px;
    height: 72px;
}

.xbox .button.pressed {
    background-position-y: -74px;
    margin-top: 1px;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 150px;
    left: 107px;
}

.xbox .b {
    background-position: -75px 0;
    top: 77px;
    right: 40px;
}

.xbox .x {
    background-position: -443px 0;
    top: 77px;
    left: 30px;
}

.xbox .y {
    background-position: 71px 0;
    left: 110px;
    top: 2px;
}

.xbox .sticks {
    position: absolute;
    width: 328px;
    height: 160px;
    top: 239px;
    left: 144px;
}

.xbox .stick {
    position: absolute;
    background: url(stick.png);
    background-position: 491px 0;
    height: 160px;
    width: 163px;
}

.xbox .stick.pressed {
    background-position: 0 0;
}

.xbox .stick.left {
    top: -40px;
    left: -130px;
}

.xbox .stick.right {
    top: 120px;
    left: 235px;
}

.xbox .dpad {
    position: absolute;
    width: 110px;
    height: 111px;
    top: 345px;
    left: 223px;
}

.xbox .face {
    background: url(dpad.png);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: 57px 0;
    left: -18px;
    top: 0px;
    width: 57px;
    height: 91px;
}

.xbox .face.down {
    left: -18px;
    bottom: -66px;
    width: 57px;
    height: 91px;
}

.xbox .face.left {
    background-position: 0 58px;
    width: 91px;
    height: 57px;
    top: 61px;
    left: -75px;
}

.xbox .face.right {
    background-position: 0 113px;
    width: 91px;
    height: 57px;
    top: 63px;
    right: 13px;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}

/*END Xbox One Controller Styling*/

